* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding:0; 
    background-color: rgb(24, 24, 24);
}

.container {
    margin: 0 75px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.proPic {
    background-image: url("/image/man.png");
    background-color: white;
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
}



/* HEADER */

.headerC {
    background-image: url("/image/bg-4.jpg");
    background-size: cover;
    height: 15em;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content {
    display: flex;
    margin: 2em;
    align-items: center;
    background-color: rgba(255,255,255,0.7);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5 0 0 5 black;
}

.content h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: 100;
}

.blogH {
    padding: 1px;
    width: 40%;
    margin-top: 20px;
}

.blogH h2 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}

.blogC {
    background-color: rgb(198, 216, 204);
    box-shadow: 50 0 40 50px black;
    padding-bottom: 1em;
    border-radius: 15px;
}

.blogC h2 {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.blogC p {
    width: 75%;
    margin: 2em;

}

.interactions {
    margin-right: 2em;
}

.interactions ul li {
    list-style: none;
}

.interactions ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3em;
}

.interactions ul li button {
    width: 20px;
    height: 20px;
}

.like {
    background-image: url("/icons/like.png");
    border: none;
    background-size: contain;
}

.comment {
    background-image: url("/icons/comment.png");
    border: none;
    background-size: contain;
}

.share {
    background-image: url("/icons/send.png");
    border: none;
    background-size: contain;
}

footer {
    margin: 0;
    background-color: rgba(255,255,255,0.7);
    padding: 5px;
    margin-top: 5em;
}

.resource {
    margin: 10px 75px;
}

.attributions {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

