#proPic {
    border-radius: 50%;
}

.mySetting {
    margin-top: 150px;
}

.interactions ul {
    display: flex;
    justify-content: flex-end;
    background-color: rgba(90, 126, 138, 0.5);
    gap: 15px;
}

.interactions ul li {
    list-style: none;
}
.navbar-brand img { 
    background-color: white;
    padding: 2px;
}
.navbar-brand img:hover { 
    box-shadow: 0px 0px 20px black;
    transition: 0.3s ease-in-out;
}

.navbar-nav {
    display: flex; 
}


