body {
  background: url(/project-Kaf-Mahir/image/fox-1284512.jpg);
  background-position: center;
  background-size: cover;
}

.card-body {
  position: relative;
  background-color: transparent !important;
}
