body {
  background: url(../../source_images/fox-1284512.jpg);
  background-position: center;
  background-size: cover;
}

.card-body {
  position: relative;
  background-color: transparent !important;
}
